body{
  font-size: 0.85rem !important;
  margin: 0.2rem !important;
}

.btn {
    font-size: 0.75rem !important;
    padding: 0.25rem 0.75rem !important;
}

.row {
  text-align: center !important;
}

.col{
  padding: 0.5rem !important;
}

.mainrow{
  font-weight: bold;
  background-color: gray;
}